# Compiled Object files
*.slo
*.lo
*.o
*.obj
!**/Data/Models/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!**/Run_Win32/*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app
!**/Run_Win32/*.exe

#codedatabases
*.db
*.sdf
*.opensdf

# =========================
# Build Folder
build/
src/.vs/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.db
*.opendb
*.history
data/log/
*.suo
*.TMP
data/screenshot/
*.log
data/config/user.config
*.ipch
**/.vs/

**/Temporary/
!**/ThirdParty/**/*.*

SDST/Protogame3D/Run_Win32/garbage.dat
SDST/Protogame3D/Run_Win32/Logs/system_log_6_13_2018_20_9_59.txt
SDST/Protogame3D/Run_Win32/Logs/system_log_6_13_2018_20_24_12.txt
SDST/Protogame3D/Run_Win32/Logs/system_log_6_13_2018_20_17_47.txt
SDST/Protogame3D/Run_Win32/Logs/system_log_6_13_2018_20_15_18.txt
SDST/Protogame3D/Run_Win32/Logs/system_log_6_13_2018_20_12_53.txt
SDST/Protogame3D/Run_Win32/Logs/system_log_6_18_2018_1_2_38.txt
SDST/Protogame3D/Run_Win32/Logs/
Thesis/Thesis/Run_Win32/Logs/
SD3/TankGame/Run_Win32/small.txt
SD3/TankGame/Run_Win32/little.txt
SD3/TankGame/Run_Win32/garbage.dat
SD3/TankGame/Run_Win32/big.txt
SD3/TankGame/Run_Win32/Data/small.txt
SD3/TankGame/Run_Win32/Data/little.txt
SD3/TankGame/Run_Win32/Data/big.txt
SDST/TankGame/Run_Win32/Logs/
SD4/TankGame/Run_Win32/small.txt
SD4/TankGame/Run_Win32/Data/small.txt
SD4/TankGame/Run_Win32/Data/little.txt
SD4/TankGame/Run_Win32/Data/big.txt
SD4/TankGame/Run_Win32/little.txt
SD4/TankGame/Run_Win32/garbage.dat
SD4/TankGame/Run_Win32/big.txt
SD4/SuperMiner/Run_Win32/Logs/
